.form-check-input[type=radio]:checked:after {
    border-radius: 50%;
    width: 0.625rem;
    height: 0.625rem;
    border-color: #8C6DEF !important;
    background-color: #8C6DEF !important;
    transition: border-color;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

/* Extra pequeños dispositivos (teléfonos pequeños, menos de 576px) */
@media screen and (max-width: 575.98px) {
  .scroll-container {
    height: 80vh;
    overflow: auto;
  }
}

/* Pequeños dispositivos (teléfonos, 576px - 767.98px) */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .scroll-container {
    height: 80vh;
    overflow: auto;
  }
}

/* Dispositivos medianos (tabletas, 768px - 991.98px) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .scroll-container {
    height:80vh;
    overflow: auto;
  }
}

/* Dispositivos grandes (laptops y escritorios, 992px - 1199.98px) */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .scroll-container {
    height: 80vh;
    overflow: auto;
  }
}

/* Dispositivos extra grandes (escritorios grandes y pantallas más grandes, 1200px en adelante) */
@media screen and (min-width: 1200px) {
  .scroll-container {
    height: 90vh;
    overflow: auto;
  }
}
