body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.bg-image {
  background-image: url('assets/images/fondo.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  height: 16px;
  width: 16px;
}
